@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');

:root {
  --primary-color: #c02f73;
  --secondary-color: #e9e9e9;
  --tertiary-color: #faa555;
}

#sidebar {
  height: 100vh;
  transition: 0.7s ease-in-out;
  min-width: 10rem;
  z-index: 1;
}
#sidebar.active {
  margin-left: -10rem;
}

.wrapper {
  min-width: 100%;
}

main {
  min-height: 60vh;
  width: 100%;
}

button {
  border-radius: 0 !important;
  border: none !important;
  box-shadow: none !important;
}

input,
select {
  border-radius: 0 !important;
  border: none !important;
  box-shadow: none !important;
  padding: 0.7rem !important;
}

.btn-primary,
.bg-primary {
  background-color: var(--primary-color) !important;
}
.btn-primary:hover,
.bg-primary:hover {
  background-color: var(--tertiary-color) !important;
}
a {
  color: var(--primary-color);
  text-decoration: none;
}

.modal-background,
body {
  font-family: 'PT Sans Narrow', sans-serif;
  background-color: var(--secondary-color) !important;
}
nav {
  background-color: var(--primary-color) !important;
}
.navbar-brand,
.nav-link,
.dropdown-item {
  color: var(--tertiary-color) !important;
}

.dropdown-item:hover {
  color: var(--primary-color) !important;
  background-color: var(--secondary-color) !important;
}
.dropdown-menu {
  background-color: var(--secondary-color) !important;
}

label {
  opacity: 0.5;
}

.dropdown-menu,
.alert,
.toast {
  border-radius: 0 !important;
  border: none;
}

/* Category */
.text-primary {
  color: var(--primary-color) !important;
}
.bg-primary {
  background-color: var(--primary-color) !important;
}
.category img {
  transition: 0.5s ease-out;
}
.category img:hover {
  transform: scale(1.1);
}
.product-home {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}
.product-list .card {
  overflow: hidden;
}
.product-list img {
  transition: 0.5s ease-out;
}
.product-list img:hover {
  transform: scale(1.1);
}
.pagination-selector {
  padding: 0.43rem 0rem !important;
  margin-top: 0.06rem !important;
}
